body {
    background: #000;
    color: white;
    font-family: Arial;
}

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 150px;
    border-radius: 12px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.card.red {
    color: red;
}

.card:hover {
    transform: scale(1.05);
}

.closed {
    background: #222;
    border: 2px solid white;
    color: white;
}